@model vVuelos.Models.country

@{
    ViewBag.Title = "Detalles de pais";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.consecutive_country_id)
        </dd>
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
            <img src="@Model.image" width="128" height="60" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.consecutive_country_id }) |
    @Html.ActionLink("Volver", "Index")
</p>
