@model vVuelos.Models.country

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Editar pais @Model.name1</h2>


@using (Html.BeginForm("Edit", "countries", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>country</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.consecutive_country_id)

    <div class="form-group">
        <label class = "control-label col-md-2">ID</label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.consecutive_country_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.consecutive_country_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Nombre</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.name1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">Bandera</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control", @type="file"} })
            <img src="@Url.Content(Model.image)" width="128" height="60"/>
            @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
            <input type="button" value="Borrar" class="btn btn-warning" onclick="borrarData()" />
            <input type="button" value="Cancelar" class="btn btn-danger" onclick="document.location='../Index'" />
        </div>
    </div>
</div>
}


<script src="~/Scripts/js/ValidacionesAdm.js" type="text/javascript">
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
