@model IEnumerable<vVuelos.Models.country>

@{
    ViewBag.Title = "Paises";
}

<h2>Paises</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th>
            Bandera
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.consecutive_country_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.consecutive_country_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.consecutive_country_id })
        </td>
    </tr>
}

</table>
