@model vVuelos.Models.user
@{
    ViewBag.Title = "ChangePassword";
}
<br />
<br />
@using (Html.BeginForm("ChangePassword","User",FormMethod.Post, htmlAttributes: new { onsubmit = "return validateData();" } ))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Actualizar contraseña</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <label class = "control-label col-md-2">Contraseña actual</label>
        <div class="col-md-10">
            @Html.PasswordFor(model => model.old_password, new { @class = "form-control", name = "old_password", placeHolder = "Contraseña actual", autofocus = "", onkeyup= "checkPasswordField('old_password')" })
            <span class="text-danger" id="old_password-span" style="display:none"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nueva contraseña </label>
        <div class="col-md-10">
            @Html.PasswordFor(model => model.new_password, new { @class = "form-control", name = "new_password", placeHolder = "Nueva contraseña", autofocus = "", onkeyup= "checkPasswordField('new_password')" })
            <span class="text-danger" id="new_password-span" style="display:none"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Confirmacion</label>
        <div class="col-md-10">
            @Html.Password("confirmacion",null, new { @class = "form-control", name = "confirmacion", placeHolder = "Confirmacion de Contraseña", autofocus = "", onkeyup= "comparePw()" })
            <span class="text-danger" id="validation-confirmation" style="display:none"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <br />
            <span class="text-danger" id="validation" style="display:none"></span>
            <span class="text-danger" id="errorMsg" style="display:block">@ViewBag.message</span>
            <br />
            <input type="submit" value="Change" class="btn btn-default" />
            <button class="btn btn-danger" type="button" onclick="document.location='/User/Perfil'">Cancelar</button>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Volver", "Index", "Home")
</div>
}

<script src="~/Scripts/js/UserValidations.js" type="text/javascript"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
