@model vVuelos.Models.user
@using System.Web.Script.Services

<!-- Nombre de la pagina actual -->
@{
    ViewBag.Title = "Ver Usuario";
}

<!-- Titulo-->
<h2>Ver usuario</h2>

<script src="@Url.Content("~/Scripts/floatingMenu.js")"></script>

<head>
    <link href="@Url.Content("~/Styles/customStylesheet.css")" rel="stylesheet" type="text/css" />
    <!-- RenderSection("Styles", false) -->
    <!-- Sobre el uso de RenderSection
        It's useful to know that the second parameter in RenderSection(), false, means that the section is not required on a view that uses this master page, and the view engine will blissfully ignore the fact that there is no "Styles" section defined in your view. If true, the view won't render and an error will be thrown unless the "Styles" section has been defined.
    -->
</head>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <!-- MENU PRINCIPAL -->
    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
    <div class="side-bar">
        <div class="close-btn">
            <i class="fas fa-times"></i>
        </div>
        <div class="menu">
            <!-- BACK MENU -->
            <div class="item"><a href="../index.html"><i class=""></i>Inicio</a></div>
            <!-- / BACK MENU -->
            <div class="item">
                <a class="sub-btn"><i class=""></i>Seguridad<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a class="sub-btn"><i class=""></i>Usuarios<i class="fas fa-angle-right dropdown"></i></a>
                    <div class="sub-menu">
                        <a href="../pages/crearUsuario.html" class="sub-item">Crear Usuarios</a>
                        <a href="#" class="sub-item">Asignar Roles</a>
                    </div>
                    <a href="../pages/cambiarPassword.html" class="sub-item">Cambiar Contraseña</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn"><i class=""></i>Administracion<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a href="../pages/editarConsecutivo.html" class="sub-item">Consecutivos</a>
                    <a href="../pages/listaPais.html" class="sub-item">Paises</a>
                    <a href="../pages/listaAerolinea.html" class="sub-item">Aerolineas</a>
                    <a href="../pages/muestraPuertas.html" class="sub-item">Puertas del Aeropuerto</a>
                </div>
            </div>
            <div class="item">
                <a class="sub-btn"><i class=""></i>Consultas<i class="fas fa-angle-right dropdown"></i></a>
                <div class="sub-menu">
                    <a href="../pages/consultaError.html" class="sub-item">Bitacora</a>
                    <a href="../pages/consultaError.html" class="sub-item">Errores</a>
                    <a href="#" class="sub-item">Descargas</a>
                    <a href="../pages/listaAerolinea.html" class="sub-item">Aerolineas</a>
                    <a href="#" class="sub-item">Puertas</a>
                </div>
            </div>
            <div class="item"><a href="#"><i class=""></i>Cerrar Sesion</a></div>
            <section class="main">
                <h1>vVuelos</h1>
            </section>
        </div>
    </div>
    <!-- / MENU PRINCIPAL -->

    <div class="form-register">
        <h4>Crear Usuario</h4>
        <input class="controls" type="text" name="usuario" id="txtUsuario" placeholder="Ingrese su Usuario">
        <input class="controls" type="password" name="contraseña" id="txtPassword" placeholder="Ingrese su Contraseña">
        <input class="controls" type="password" name="contraseña2" id="txtPassword2" placeholder="Confirme su Contraseña">
        <input class="controls" type="email" name="correo" id="txtCorreo" placeholder="Ingrese su e-mail">
        <input class="controls" type="text" name="pregunta" id="txtPregunta" placeholder="Ingrese su Pregunta de Seguridad">
        <input class="controls" type="text" name="respuesta" id="txtRespuesta" placeholder="Ingrese su Respuesta de Seguridad">

        <input class="buttons" type="submit" id="btnCrearUsuario" value="Crear Usuario">
    </div>

    <h4>Editar Usuario</h4>





    <div class="form-register">
        <!-- <div class="form-horizontal"> -->
        <h4>Usuario</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.username, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, "Correo electronico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.new_password, "Nueva contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.new_password, new { @class = "form-control", name = "password", placeHolder = "Contraseña", autofocus = "" })
                @Html.ValidationMessageFor(model => model.new_password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.first_name, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.first_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.first_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.middle_name, "Segundo nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.middle_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.middle_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.last_name, "Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.last_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.second_last_name, "Segundo apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.second_last_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.second_last_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.rol_id_FK, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("rol_id_FK", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.rol_id_FK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.consecutive_country_id, "Consecutivo de pais", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("consecutive_country_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.consecutive_country_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.security_question1, "Pregunta de seguridad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.security_question1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.security_question1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.answer1, "Respuesta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.answer1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.answer1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
    <!-- <input class="buttons" type="submit" id="btnCrearUsuario" value="Crear Usuario"> -->


}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
