@model vVuelos.Models.consecutive

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>consecutive</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dt>
            Descripcion    
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Consecutivo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.value)
        </dd>

        <dt>
            Prefijo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prefix)
        </dd>

        <dt>
            Rango Inicial
        </dt>

        <dd>
            @Html.DisplayFor(model => model.range_int)
        </dd>

        <dt>
            Rango Final
        </dt>

        <dd>
            @Html.DisplayFor(model => model.range_out)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver", "Index")
</p>
