@model vVuelos.Models.flight

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dt>
            CODIGO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code)
        </dd>

        <dt>
            FECHA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_date)
        </dd>

        <dt>
            HORA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrival_time)
        </dd>

        <dt>
            ESTADO
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            AEROLINEA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airline.name)
        </dd>

        <dt>
            PUERTA
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airport_gates.consecutive_airport_gate_id)
        </dd>

        <dt>
            CIUDAD
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.name)
        </dd>
        <dt>
            SALIDA - LLEGADA
        </dt>
        <dd>@Html.DisplayFor(model => model.onflight.Value)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.consecutive_flight_id }) |
    @Html.ActionLink("Volver", "Index")
</p>
