@model IEnumerable<vVuelos.Models.airport_gates>

@{
    ViewBag.Title = "Lista de Puertas";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Puertas</h2>

<p>
    @Html.ActionLink("Crear puerta nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.consecutive_airport_gate_id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.consecutive_airport_gate_id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.consecutive_airport_gate_id })
        </td>
    </tr>
}

</table>
