@model vVuelos.Models.flight

@{
    ViewBag.Title = "Compra";
}

<h2>Compra</h2>

<section class="form-register">
    <h4>Detalles del Reserva</h4>

    <label>Destino:</label>
    <label id="destino">@Html.DisplayFor(model => model.city.name)</label>
    <br>
    <br>

    <label>Fecha:</label>
    <label id="arrival_date">@Html.DisplayFor(model => model.arrival_date)</label>
    <br>
    <br>

    <label>Hora:</label>
    <label id="arrival_time">@Html.DisplayFor(model => model.arrival_time)</label>
    <br>
    <br>

    <label>Aerolinea:</label>
    <label id="airline">@Html.DisplayFor(model => model.airline.name)</label>

    <br>
    <br>
    <input class="buttons" type="submit" id="btnComprar" value="Reservar">

    <button class="buttons" type="button" id="btnCancelar" value="Cancelar">@Html.ActionLink("Cancelar", "Departure", "flights")</button>

</section>